<h4>Update Author</h4>
<form (ngSubmit)= 'onSubmit()'>
    <input matInput placeholder="Author Name" [(ngModel)]= "authorInput"
                                    name="authorInput"
                                    required
                                    #temp = "ngModel">
    
  <div>
  <button mat-raised-button color="primary" [disabled]>Submit</button>
</div>

</form>
