<h4>New Post</h4>
<form (ngSubmit)= 'onSubmit()'>
    Type Your Post Title: 
    <input matInput [(ngModel)]= "title"
                    name="title"
                     required
                    #temp = "ngModel">

                                    <br><br>
    Type Your Name:
    <input matInput [(ngModel)]= "author"
                    name="author"
                    required
                    #temp = "ngModel">


    
  <div>
  <button mat-raised-button color="primary" [disabled]>{{buttonText}}</button>
</div>

</form>