<button class= mat-raised-button color="primary" [routerLink]="['/postform']">Add New Post</button>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        {{post.body}}
        <br>
         By: {{post.author}}
         <br>
         <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id">
          Update Post
         </button> &nbsp; &nbsp;
         <button mat-raised-button color="primary" (click)="deletePost(post.id)">
          Delete Post
         </button>

    </mat-expansion-panel>
  </mat-accordion>
