<mat-list *ngFor = "let author of authors$ | async">
       <mat-list-item> {{author.name}} </mat-list-item>
    </mat-list>     

<form (ngSubmit)= 'onSubmit()'>
    Add a new author:
<input matInput     [(ngModel)]= "authorInput"
                    name="authorInput">
        
    <div>
        <button mat-raised-button color="primary" [disabled]>Submit</button>
    </div>
    
</form>
